<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>750336672335-ten9e1c7dccd6f1dbldfnl7ns5tf0qh2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.750336672335-ten9e1c7dccd6f1dbldfnl7ns5tf0qh2</string>
	<key>API_KEY</key>
	<string>AIzaSyCtfbtmnkkoZgLkGEebPQNKX1AJZ3_uZP0</string>
	<key>GCM_SENDER_ID</key>
	<string>750336672335</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.karaWorkshop</string>
	<key>PROJECT_ID</key>
	<string>testkaraworkshop</string>
	<key>STORAGE_BUCKET</key>
	<string>testkaraworkshop.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:750336672335:ios:d9c8e2a625d2c8ade8203a</string>
</dict>
</plist>